# Dependências e caches
node_modules
.next
.swc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Git
.git
.gitignore

# Variáveis locais e segredos
.env*.local

# Documentação e testes
README.md
*.md
.vscode
.idea

